[Unit]
Description=Wrapjail shared Squid proxy
Documentation=https://github.com/vncsmyrnk/wrapjail
After=network.target

[Service]
Type=simple
ExecStartPre=squid -k parse -f %h/.config/wrapjail/squid.conf
ExecStart=squid -N -f %h/.config/wrapjail/squid.conf
Restart=on-failure
RestartSec=1
RuntimeDirectory=wrapjail-squid
RuntimeDirectoryMode=0700
WorkingDirectory=%t/wrapjail-squid
UMask=0077

CapabilityBoundingSet=
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native

